body{
    background:linear-gradient(45deg,#3bcc47, #c6e63a);
}

.info{
    background-color: rgba(17, 166, 224, 0.781);
    padding: 10px;
    margin: auto;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.card-container{
    display:inline-block;
}

.card{
    position: relative;
    margin: 20px;   
    width: 180px;
    opacity: 0.8;
    display:inline-block;
}

.card:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}

.card-body{
    margin: 20px;
    padding-top: 20px;
    text-align:center;
    background-color:green;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px
}

.card-img-top{
    padding: 10px;
    min-height: 140px;
    max-height: 140px;
}
