body{
    background:linear-gradient(90deg,#3bcc47, #c6e63a);
}


.card-container{
    display:inline-block;
}

.card{
    position: relative;
    margin: 20px;   
    height: 300px;
    width: 300px;
    opacity: 0.8;
    display:inline-block;
    background: rgb(236, 238, 120);
    border-radius: 25px;
}

.card:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}

.card-body{
    margin: 50px;
    padding: 10px;
    text-align:center;
    background-color:rgb(14, 94, 212);
    color:white;
    height: 15%;
    width: 68%;
    padding-bottom: 5px;
    border-radius: 25px;
}

.card-img-top{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    height: 60%;
    width: 100%;
}
.container .button{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
  }
  .container .button:hover{
    border-color: #26d962;
    transition: .5s;
  }