{% extends 'base.html' %}

{% block content %}

    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="static/createneed.css">
    </head>

    <div class="center">
        <h1 style='margin: 0px 10px 0px 10px'>Add A Need To Your List!</h1>
        <form action="/createneed" method="POST">
            <div class="txt_field">
                <input type="text" name='need_text' required>
                <span></span>
                <label>Need</label>
            </div>
            <input type="submit" value="Add">
        </form>
    </div>

{% endblock %}