<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/createneed.css">
</head>

<body>
    <div class="center">
        <h1>Add A Need To Your List!</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Need</label>
            </div>
            <input type="submit" value="Add">
        </form>
    </div>

</body>

</html>

