{% extends 'base.html' %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
        <title>Dashboard</title>
    </head>

    <!--INSERT PAGE CONTENT HERE-->
    {% for user in data %}
        <h1 style = "font-size: 3em; margin: 50px;padding: 0;text-align: center;font-family: Arial, Helvetica, sans-serif;">Welcome, {{ user[1] }} {{ user[2] }}!</h1>
    {% endfor %}

    <div class='container'>
        <button>My Needs</button>
        <button>Log out</button>
    </div>
    
{% endblock %}