<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
    <!--INSERT PAGE CONTENT HERE-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/farmers.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
<body>
    <div class="container">
        {% for farmer in farmers %}
            <!--<button onlick="$('.card-container').show(); $('#info{{ farmer[0] }}').hide(); ">switch</button>-->
            <div id="info{{ farmer[0] }}" class='info'>
                <button onclick="$('.card-container').show(); $('#info{{ farmer[0] }}').hide();">switch</button>
                <p>E-Mail: {{ farmer[4] }}</p>
                <p>Phone Number: {{ farmer[5] }}</p>
                <p>Plants: {{ farmer[6] }}</p>
                <p>Seeds: {{ farmer[7] }}</p>
                <p>Tools: {{ farmer[8] }}</p>
                <p>Chemicals: {{ farmer[9] }}</p>
            </div>
            <script>
                $('#info{{ farmer[0] }}').hide();
            </script>
            <div class="card-container">
                <div class="card" id="{{ farmer[0] }}" onclick="$('.card-container').hide(); $('#info{{ farmer[0] }}').show(); ">
                    <img class="card-img-top" src="{{url_for('static', filename=farmer[10])}}">
                    <div class="card-body" >
                        <p class="card-text">{{ farmer[1] }} {{ farmer[2] }}, {{ farmer[3] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
</html>