{% extends 'base.html' %}

{% block content %}
    <!--INSERT PAGE CONTENT HERE-->
    <h1>History of Gardening</h1>
    <p>Gardening is not a new discovery. In fact, our ancestors started growing their own food over 23,000 years ago. From ancient gardening to classic gardening to modern gardening, gardening has remained an integral part of our society, as this is where we get our food from. Every single plant that we see, whether it be outside or inside of our homes, is a part of the largest garden that we know: the Earth. If we think of our planet as a garden, we can further appreciate this wonderful art. This makes it more the reason to connect with each other and recognize the true beauty behind gardening, something that this application strives to do.
    </p>
    <h1>What is GardenMeet?</h1>
    <p>GardenMeet is a hub that brings together gardeners from all over the world to share their passion for gardening. While the users of this app may all be completely different people, they are all bound together through the wonderful art of gardening. This application serves many purposes, a primary purpose being the linkage of the gardening community. Seeing that only one gardener can have such a profound impact, one can only begin to fathom what would happen if this entire community was connected. Another purpose of this application is to provide an even better farming experience for farmers through features such as creating “needs,” which are requests for help. This help can be in the form of required assistance in farming or materials that may be required to run the garden. Furthermore, all of the farmer information is given on the “farmers” page, so if one needs to reference contact information for a certain farmer, they can do so there.
    </p>
    <p>Gardening is a fun hobby, and we, as the developers of GardenMeet, aim to make it an even more enriching experience. Happy gardening!
    </p>
{% endblock %}