{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/needs.css">
        <title>Needs</title>
    </head>
    <div class="container">
        {% for need in needs %}        
        <div class="card">
            <div class="circle">
                
            </div>
            <div class="content">
                <p>{{ need[1] }}</p>
                <h3>Farmer ID: {{ need[2] }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}